<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Travel app</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="./src/client/styles/style.scss" /> -->
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="holder headline">
          Travel app
        </div>
        <div>
          <nav class="navbar__menu">
            <!-- Navigation -->
            <ul id="navbar__list">
              <li><a class="menu__link" id="nav_section1" href="#section1">Home</a></li>
              <li><a class="menu__link" id="nav_section2" href="#section2">How it works</a></li>
              <li><a class="menu__link" id="nav_section3" href="#section3">I'm traveling to</a></li>
              <li><a class="menu__link" id="nav_section4" href="#section4">My trip</a></li>
            </ul>      
          </nav>
        </div>
      </header>

      <main>
        <section id="section1" data-nav="Section 1">
          <!-- Slideshow container -->
          <!-- https://html5css.ru/howto/howto_js_slideshow.php-->
          <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              <img src="https://static.wixstatic.com/media/d9520aafca774fbeb056dc8d62085362.jpg/v1/fill/w_1192,h_575,al_c,q_85,usm_0.66_1.00_0.01/d9520aafca774fbeb056dc8d62085362.jpg" style="width:100%; height: 100%; object-fit: cover">
            </div>

            <div class="mySlides fade">
              <img src="https://static.wixstatic.com/media/11062b_82d769a1d8b844fb93033a6c6c0eae55~mv2.jpeg/v1/fill/w_1046,h_698,al_c,q_85,usm_0.66_1.00_0.01/11062b_82d769a1d8b844fb93033a6c6c0eae55~mv2.jpeg" style="width:100%; height: 100%; object-fit: cover">
            </div>

            <div class="mySlides fade">
              <img src="https://static.wixstatic.com/media/11062b_ef215f990d8f494eb34b570e2112d231~mv2.jpeg/v1/fill/w_1001,h_667,al_c,q_85,usm_0.66_1.00_0.01/11062b_ef215f990d8f494eb34b570e2112d231~mv2.jpeg" style="width:100%; height: 100%; object-fit: cover">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <br>

          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>

        </section>
        <section id="section2" data-nav="Section 2">
          <div class="landing__container">
            <h2>How it works</h2>
            <div class="hiw_conteiner">
              <p>Here at Travel app, you can easily plan your trip, just pick up a city of your choice and departure date the app will show you the flight cost, will help you to book a hotel, and will also show you the weather to help you pack your suitcase accordingly.</p>
              <p>Have a good trip!</p>
            </div>
          </div>
        </section>
        <section id="section3" data-nav="Section 3">
          <div class="landing__container">
            <div class="row">
              <div class="column">
                <img alt="Image by Jerry Zhang" src="https://static.wixstatic.com/media/nsplsh_4f6e58764b5a6c64534a30~mv2_d_6000_4000_s_4_2.jpg/v1/fill/w_490,h_816,al_c,q_85,usm_0.66_1.00_0.01/nsplsh_4f6e58764b5a6c64534a30~mv2_d_6000_4000_s_4_2.webp" style="width: 100%; height: 600px; object-fit: cover;">
              </div>
              <div class="column">
                <h2>I'm traveling to</h2>
                <div class="container">
                  <div class="row">
                    <div class="left-column"><label for="from_city">From:</label></div>
                    <div class="right-column"><input type="text" id="from_city" placeholder="Enter departure city here..."></div>
                  </div>
                  <div class="row">
                    <div class="left-column"><label for="to_city">To:</label></div>
                    <div class="right-column"><input type="text" id="to_city" placeholder="Enter destination city here..." /></div>
                  </div>
                  <div class="row">
                    <div class="left-column"><label for="departure_date">Date:</label></div>
                    <div class="right-column"><input type="text" id="departure_date" placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')" /></div>
                  </div>
                  <div class="row">
                    <div class="left-column"></div>
                    <div class="right-column"><button id="generate" type="submit">Generate</button></div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </section>
        <section id="section4" data-nav="Section 4">
          <div class="landing__container">
            <div class="row">
              <div class="column">
                <h2>My trip</h2>
                <div class="container">
                  <div class="row">
                    <div class="left-column"></div>
                    <div class="right-column"></div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="trip_picture">
                    <img id="trip_image" alt="My trip image" src="" style="width: 100%; height: 600px; object-fit: cover;">
                    <figcaption id="trip_image_text"></figcaption>
                </div>
              </div>
            </div> 
          </div>
        </section>
        <!--  https://www.w3schools.com/howto/howto_js_scroll_to_top.asp*/-->
        <!-- Create a button that will take the user to the top of the page when clicked on -->
        <button  class="fa fa-home" onclick="topFunction()" id="myBtn" title="Back to top"></i></button>
      </main>

      <footer>
        <div class="wrapper-footer">
          <div>
            <nav class="navbar__menu">
              <!-- Navigation starts as empty UL that will be populated with JS -->
              <ul id="navbar__list">
                <li><a class="menu__link" id="nav_section1" href="#section1">Home</a></li>
                <li><a class="menu__link" id="nav_section2" href="#section2">How it works</a></li>
                <li><a class="menu__link" id="nav_section3" href="#section3">I'm traveling to</a></li>
                <li><a class="menu__link" id="nav_section4" href="#section4">My trip</a></li>
                <li><a class="menu__link" id="nav_section5" href="#section5">Contacts</a></li>
              </ul>      
            </nav>
          </div>
          <!-- <div class="wrapper-footer-menu">
            <div class="footer-box"><a href="index.html">Home</a></div>
            <div class="footer-box">
              <a href="chcountry.html">Change country</a>
            </div>
            <div class="footer-box">
              <a href="additionalsettings.html">Additional settings </a>
            </div>
            <div class="footer-box"><a href="faq.html">FAQ</a></div>
          </div> -->
        </div>

        <p><br />Copyright Valentina Olekhnovich® 2020</p>
      </footer>
    </div>
  </body>
   <!-- Style banner with next previous buttons  https://html5css.ru/howto/howto_js_slideshow.php-->
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
    
  
  </script>
<!-- Slideshow  https://html5css.ru/howto/howto_js_slideshow.php-->
  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 10000); // Change image every 10 seconds
    }
   </script>
   <!-- Link JS -->
   <!-- <script src="js/app.js"></script>-->
  <!-- Get the button:-->
  <script>
    mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>


</html>
