body {
	background: #fffff8;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	background: #AC4261;
	color: #f0d43a;
	text-align: left;
	text-align: center;
}
#app {
	display: grid;
	grid-auto-rows: minmax(150px, auto);
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	grid-template-columns: 35% 60%;
	justify-content: center;
	grid-template-areas: "middle middle middle";
}
.holder {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.entry {
	background: rgba(59, 74, 107, .4);
	margin-top: 3vh;
	grid-area: middle;
}
.title {
	text-align: center;
	font-size: 25px;
}
#entryHolder {
	padding-left: 10px;
}
#date {
}
#temp {
}
#content {
}
#generate {
	color: #f0d43a;
	margin-top: 2vh;
	width: 100%;
	&:hover {
		background-color: #f0d43a;
		color: #AC4361;
	}
}
.header {
	padding: 0.5 em;
	text-transform: uppercase;
}

/* Navigation Styles*/

.navbar__menu {
	ul {
	  padding-left: 0;
	  margin: 0;
	  text-align: center;
	}
  
	li {
	  display: inline-block;
	}
  
	.menu__link {
	  display: block;
	  padding: 1em;
	  font-weight: bold;
	  text-decoration: none;
	  color: #fff;
  
	  &:hover {
		background: #fff;
		color: #000;
		transition: ease 0.3s all;
	  }
	}
  }


.headline {
	background-color: white;
	color: #5a595e;
	text-align: center;
	font-size: 3em;
	padding: 0.5em;
	font-size: 3em;
}
.zip {
	padding: 10px;
	width: 100%;
	margin-top: 2vh;
	grid-area: middle;
}
#zip {
	margin-top: 2vh;
	font-style: italic;
	padding-left: 10px;
	width: 90%;
}

.banner {
	width: 110%;
	height: 50vh;
	background-size: cover;
	background-position: left;
	background-position: no-repeat;
}

/* Slideshow container*/
/*https://html5css.ru/howto/howto_js_slideshow.php*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* -------------------------*/


.h2-text {
	font-size: 45px;
	color: #fff;
	text-align: left;
	line-height: 50px;
	font-style: italic;
}
label {
	display: block;
	font-size: 27px;
}
input {
	display: block;
	height: 60px;
	width: 320px;
	background: #22b2da;
	color: #f0d43a;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	border: none;
}
.myInput {
	height: 15vh;
	margin-top: 1vh;
}
button {
	width: 400px;
	height: 100px;
	background: #3b4a6b;
	color: #f0d43a;
	font-size: 26px;
	font-family: 'Oswald', sans-serif;
	border: none;
	box-shadow: 2px 4px 5px #444;
}
h1 {
	font-size: 36px;
}
textarea {
	background: #22b2da;
	color: #f0d43a;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px;
}
.wrapper-footer-menu {
	grid-area: "men";
	display: flex;
	width: 1000px;
	flex-direction: column;
	align-items: left;
	align-items: flex-start;
	margin: 40px;
	//input: focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
::placeholder {
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}
:-ms-input-placeholder {
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}
::-ms-input-placeholder {
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}
//@media {
//	(min-width {
//		&: {
//			900px) {
//				.wrapper-footer-menu {
//      display: flex;
//				flex-direction: row;
//			}
//		}
//	}
}