body {
	background: #fffff8;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	background: #AC4261;
	color: #f0d43a;
	text-align: left;
	text-align: center;
}
#app {
	display: grid;
	grid-auto-rows: minmax(150px, auto);
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	grid-template-columns: 35% 60%;
	justify-content: center;
	grid-template-areas: "middle middle middle";
}
.holder {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.entry {
	background: rgba(59, 74, 107, .4);
	margin-top: 3vh;
	grid-area: middle;
}
.title {
	text-align: center;
	font-size: 25px;
}
#entryHolder {
	padding-left: 10px;
}
#date {
}
#temp {
}
#content {
}
#generate {
	color: #f0d43a;
	margin-top: 2vh;
	width: 100%;
	&:hover {
		background-color: #f0d43a;
		color: #AC4361;
	}
}
.header {
	padding: 0.5 em;
	text-transform: uppercase;
}

/* Navigation Styles*/

.navbar__menu {
	ul {
	  padding-left: 0;
	  margin: 0;
	  text-align: center;
	}
  
	li {
	  display: inline-block;
	}
  
	.menu__link {
	  display: block;
	  padding: 1em;
	  font-weight: bold;
	  text-decoration: none;
	  color: #fff;
  
	  &:hover {
		background: #fff;
		color: #000;
		transition: ease 0.3s all;
	  }
	}
  }


.headline {
	background-color: white;
	color: #5a595e;
	text-align: center;
	font-size: 3em;
	padding: 0.5em;
	font-size: 3em;
}
.zip {
	padding: 10px;
	width: 100%;
	margin-top: 2vh;
	grid-area: middle;
}
#zip {
	margin-top: 2vh;
	font-style: italic;
	padding-left: 10px;
	width: 90%;
}

.banner {
	width: 110%;
	height: 50vh;
	background-size: cover;
	background-position: left;
	background-position: no-repeat;
}

/*Banner styling*/

.w3-content {
	position: relative;
	margin-top: 0em;
  }
  
  .w3-btn, .w3-button {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 8px 16px;
	vertical-align: center;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
  }
  
  .w3-btn, .w3-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  .w3-disabled, .w3-btn:disabled, .w3-button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
  }
  
  .w3-disabled *, :disabled * {
	pointer-events: none;
  }
  
  .w3-bar-block {
	.w3-dropdown-hover .w3-button, .w3-dropdown-click .w3-button {
	  width: 100%;
	  text-align: left;
	  padding: 8px 16px;
	}
  }
  
  .w3-button:hover {
	color: #000 !important;
	background-color: #ccc !important;
  }
  
  .w3-content button {
	position: absolute;
	top: 37%;
  }
  
  .w3-display-right {
	right: 0;
  }
  
  .w3-display-left {
	left: 0;
  }


.h2-text {
	font-size: 45px;
	color: #fff;
	text-align: left;
	line-height: 50px;
	font-style: italic;
}
label {
	display: block;
	font-size: 27px;
}
input {
	display: block;
	height: 60px;
	width: 320px;
	background: #22b2da;
	color: #f0d43a;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	border: none;
}
.myInput {
	height: 15vh;
	margin-top: 1vh;
}
button {
	width: 400px;
	height: 100px;
	background: #3b4a6b;
	color: #f0d43a;
	font-size: 26px;
	font-family: 'Oswald', sans-serif;
	border: none;
	box-shadow: 2px 4px 5px #444;
}
h1 {
	font-size: 36px;
}
textarea {
	background: #22b2da;
	color: #f0d43a;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px;
}
.wrapper-footer-menu {
	grid-area: "men";
	display: flex;
	width: 1000px;
	flex-direction: column;
	align-items: left;
	align-items: flex-start;
	margin: 40px;
	//input: focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
::placeholder {
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}
:-ms-input-placeholder {
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}
::-ms-input-placeholder {
	color: #f0d43a;
	font-family: 'Oswald', sans-serif;
}
//@media {
//	(min-width {
//		&: {
//			900px) {
//				.wrapper-footer-menu {
//      display: flex;
//				flex-direction: row;
//			}
//		}
//	}
}