body {
	background: #fffff8;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: auto;
	background: hsla(246, 21%, 17%, 0.898);
	color: #2b2923;
	text-align: center;
}
#app {
	display: grid;
	grid-auto-rows: minmax(150px, auto);
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	grid-template-columns: 35% 60%;
	justify-content: center;
	grid-template-areas: "middle middle middle";
}
.holder {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.entry {
	background: rgba(59, 74, 107, .4);
	margin-top: 3vh;
	grid-area: middle;
}
.title {
	text-align: center;
	font-size: 25px;
}
#entryHolder {
	padding-left: 10px;
}
#date {
}
#temp {
}
#content {
}

.flag_image{
	width: 100px; 
	height: 100%; 
	object-fit: cover;
}

.trip_initial_text{
	margin-top: 200px;
	margin-bottom: 200px;
	padding: 160px 40px 40px 40px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


#white_section_name {
	color: white;
}

.header {
	padding: 0.5 em;
	text-transform: uppercase;
}
section {
	position: relative;
	//min-height: 70vh;

  }
#section2 {
	background-color: white;
  }
#section4 {
	background-color: white;
  }


.output {
	margin: 10px;
} 
/*Section 3 formatting*/
section{

}

.row {
	
	display: flexbox ;
}

.column {
//	flex: 50%;
// 	height: 600px;
}
// /* Responsive layout small screen */
// @media only screen and (max-width: 480px) {
 
// 	#section1{
// 		height: auto;
// 	}
// 	.column {
// 		//flex: 50%;
// 		height: 600px;
// 	}
// 	.row{
// 		display: flex;
// 	}
// }
/*--------------------*/


/* Navigation Styles*/

.navbar__menu {
	ul {
	  padding-left: 0;
	  margin: 0;
	  text-align: center;
	}
  
	li {
	  display: inline-block;
	}
  
	.menu__link {
	  display: block;
	  padding: 1em;
	  font-weight: bold;
	  text-decoration: none;
	  color: #fff;
  
	  &:hover {
		background: #fff;
		color: #000;
		transition: ease 0.3s all;
	  }
	}
  }


.headline {
	background-color: white;
	color: #5a595e;
	text-align: center;
	font-size: 3em;
	padding: 0.5em;
	font-size: 3em;
}


/* Slideshow container*/
/*https://html5css.ru/howto/howto_js_slideshow.php*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1700px;
  position: relative;
  object-fit: cover;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
	object-fit: cover;
	height: 500px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* -------------------------*/

h2{
	text-transform: uppercase;
	color: rgb(53, 47, 47);
	padding: 60px 40px 40px 40px;
	margin: 0;
}

.h2-text {
	font-size: 45px;
	color: rgb(53, 47, 47);
	text-align: left;
	line-height: 50px;
	font-style: italic;
}

.hiw_conteiner{
	padding: 60px 40px 40px 40px;;
}
/*Style rows and columns for input*/


.left-column {
	display: inline-block;
	width: 20ex;
	text-align: left;
	padding: 20px 0px 0px 30px;
	margin: 0px 15px 0px 15px;
}

.right-column {
	width: 40ex;
	display: inline-block;
	margin: 15px 35px 0px 15px;
}

label {
	display:flex;
	display: block;
	font-size: 27px;
	color: white;
}
 
label input {
	margin-left:10px;
}



/* Style inputs */
input {
	display: block;
	height: 60px;
	width: 320px;
	background: #22b2da;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	border: none;
}


input[type=text], select, textarea {
    width: 100%; 
	padding: 12px;
	margin-top: 6px; 
    margin-bottom: 16px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}



#generate{
	appearance: button;
	background-color: #126094;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: white;
    text-align: center;
    align-items: flex-start;
	margin: 0em;
	margin-bottom: 20px;
	width: 100%;
	cursor: pointer;
    font: 20px Oswald;
    padding: 1px 6px;
    border-style: outset;
	border: 1px solid #ccc; 
	border-radius: 4px;
  
}


.btn-disable{
cursor: not-allowed;
pointer-events: none;
/*Button disabled - CSS color class*/
border: 1px solid #999999;
background-color: #cccccc;
color: #666666;
}


#generate :hover {
    background-color: #106877;
}
input[type="text"]::-webkit-input-placeholder {
    color: #ccc;
} 
input[type="text"]::-moz-placeholder {
    color: #ccc;
}

/*-------------*/


h1 {
	font-size: 36px;
}
textarea {
	background: #22b2da;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px;
}
.wrapper-footer-menu {
	grid-area: "men";
	display: flex;
	width: 1000px;
	flex-direction: column;
	align-items: left;
	align-items: flex-start;
	margin: 40px;
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
}


/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp*/
/* Style button that will take the user to the top of the page when clicked on*/

#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(80, 70, 70); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 25px; /* Some padding */
	border-radius: 50px; /* Rounded corners */
	font-size: 30px; /* Increase font size */
	text-align: center;
	box-shadow: 2px 4px 5px #444;
  }
  
  #myBtn:hover {
	background-color: rgb(22, 21, 21); /* Add a dark-grey background on hover */
  }