body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    background: #AC4261;
    color: #f0d43a;
    text-align: left;
   
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}
.holder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

.title{
    text-align: center;
    font-size: 25px;
}

#entryHolder{
    padding-left: 10px;

}

#date{

}

#temp{

}

#content{

}

#generate {
    color: #f0d43a;
    margin-top: 2vh;
    width: 100%;
}

#generate:hover {
    background-color: #f0d43a;
    color: #AC4361;
}


.header{
    padding: 0.5 em;
}

.headline{
    background-color: #3b4a6b;
    color: #f0d43a;
    text-align: center;
    font-size: 3em;
    padding: 0.5em;

    
}

.zip{
    padding: 10px;
    width: 100%;
    margin-top: 2vh;
}


#zip {
    margin-top: 2vh;
    font-style: italic;
    padding-left: 10px;
    width: 90%;
}

.feel {
    margin-top: 5vh;
  
}

#feelings {
    font-style: italic;
    padding-left: 10px;
}

.title {
    
}

.banner {
    width: 110%;
    height: 50vh;
    /*https://www.nastol.com.ua/download/179730/2560x1440/*/
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: left;
    background-position: no-repeat;
  }
  
.h2-text {
    font-size: 45px;
    color: #fff;
    text-align: left;
    line-height: 50px;
    font-style: italic;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

.myInput {
    height: 15vh;
    margin-top: 1vh;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;    
}

h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

p {
margin: 20px;
}

.wrapper-footer-menu {
    /* set display position */
    grid-area: "men";
    display: flex;
    width: 1000px;
    flex-direction: column;
    align-items: left;
    align-items: flex-start;
    margin: 40px;



/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

/* large screens */

@media (min-width: 900px) {
    /* footer large screen settings */
    .wrapper-footer-menu {
      /* set display position here */
      display: flex;
      flex-direction: row;
    }

    body {
        text-align: center;
    }
    .headline {
        font-size: 3em;
    }
    #app {
        grid-template-columns: 35% 60%;
        justify-content: center;
        grid-template-areas: "middle middle middle";
    }
    .entry {
        margin-top: 3vh;
        grid-area: middle;
    }
    .zip {
        grid-area: middle;
    }
    .feel {
        grid-area: middle;
    }
}